body {
	background: #0d0d17 url(../img/body.png) top center repeat;
	color: #fff;
	font-family: 'Yantramanav', sans-serif;
	font-size: 18px;
}

a {
	color: #b0f045;
	text-decoration: none;
}

.button {
	font-size: 20px;
	font-weight: bold;
	background: #b0f045;
	color: #000;
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding: 0 20px 0 15px;
	position: relative;
	text-transform: uppercase;
}

.button:before {
	content: "";
	top: 0;
	right: -10px;
	background: #b0f045;
	display: block;
	position: absolute;
	height: 38px;
	width: 20px;
	transform: skew( -20deg, 0deg);
}

.button:after {
	content: "";
	top: 0;
	right: -5px;
	background: #b0f045;
	display: block;
	position: absolute;
	height: 38px;
	width: 10px;
	transform: skew( -20deg, 0deg);
	border-left: 3px solid #000;
	border-right: 3px solid #000;
}
		
.center-box {
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}

header {
	padding: 15px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d0d17+0,0d0d17+100&1+0,0+100 */
	background: -moz-linear-gradient(top, rgba(13,13,23,1) 0%, rgba(13,13,23,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(13,13,23,1) 0%,rgba(13,13,23,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(13,13,23,1) 0%,rgba(13,13,23,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d17', endColorstr='#000d0d17',GradientType=0 ); /* IE6-9 */
}

#logo {
	float: left;
}

#logo a {
	width: 225px;
	height: 40px;
	display: block;
	background: url(../img/gorilla.svg) top left no-repeat;
	background-size: 100% auto;
}


#navigation {
	float: right;
}

nav ul {
	float: right;
	padding-top: 10px;
}

nav ul li{
	float: left;
	text-align: left;
}

nav ul li a{
	display: inline-block;
	color: #fff;
	font-size: 16px;
	padding-right: 30px;
	text-transform: uppercase;
	position: relative
}

nav ul li a:before{
	content: "/";
	position: absolute;
	top: 0;
	right: 12px;
	font-weight: bold;
	color: #b0f045;
}

nav ul li a:hover{
	color: #b0f045;
}

nav ul li:last-of-type a{
	padding: 0;
}

nav ul li:last-of-type a:before{
	content: "";
}

#top {
	background: url(../img/welcome.png) top center no-repeat #0d0d17;
	background-size: cover;
}

#intro {
	width: 45%;
	margin: 150px 0;
}

#intro p, #services p, #offer p, #team p {
	margin: 0 0 15px 0;
}

#services {
	padding: 70px 0;
	box-shadow: 0 0 8px rgba(0,0,0,0.9);
}

.service {
	margin-bottom: 40px;
	position: relative;
}

.service:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 35%;
	background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.42)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.service img {
	width: 100%;
}

.service .button {
	position: absolute;
	bottom: 15px;
	left: 0;
}

#offer {
	background: #0e0e18 url(../img/offer.png) top center no-repeat;
	padding: 70px 0;
	box-shadow: inset 0 0 8px rgba(0,0,0,0.9);
}

#offer-text {
	float: right;
	width: 50%;
}

#offer h3 {
	color: #b0f045;
	margin: 0 0 15px 0;
}

#offer ul {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#offer ul li {
	margin-bottom: 8px;
	line-height: 1.4;
	position: relative;
	padding-left: 30px;
}

#offer ul li:before {
	content: "";
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 50%;
	background: #b0f045;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
}

#offer ul li:after {
	content: "";
	width: 8px;
	height: 12px;
	display: block;
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -8px;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	transform: rotate(45deg);
}

#team {
	padding: 70px 0;
}

.team-member {
	background: #0e0e18;
	margin-bottom: 40px;
}

.team-member img{
	width: 100%;
}

.team-text {
	padding: 20px;
}

.team-text p {
	margin: 0 0 15px 0;
}

#testimonials {
	background: url(../img/testi-bg.jpg) top center no-repeat;
	padding: 70px 50% 55px 40px;
	box-shadow: inset 0 0 8px rgba(0,0,0,0.9);
	display: inline-block;
	margin-bottom: 70px;
	background-size: cover!important;
}

#testimonials h3{
	color: #b0f045;
	margin: 0 0 15px 0;
}

#testimonials p{
	margin: 0 0 15px 0;
}

footer {
	background: #0e0e18;
	padding: 70px 0;
	font-size: 16px;
}

footer h3 {
	margin: 0 0 10px 0;
	color:  #b0f045;
}

footer p, footer time {
	margin: 0 0 10px 0;
}

#copyright {
	padding: 15px 0;
	color: #666;
	font-size: 14px;
	text-align: center;
	background: #07070c;
}

.social ul {
	margin: 30px 0 0 0;
	overflow: hidden;
}

.social li {
	float: left;
	margin-right: 10px;
}

.social li a{
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	background-size: auto 16px;
}

.social li a:hover{
	border-color: #b0f045;
}

.facebook a {
	background: url(../img/facebook.svg) center center no-repeat;
}

.twitter a {
	background: url(../img/twitter.svg) center center no-repeat;
}

.gplus a {
	background: url(../img/gplus.svg) center center no-repeat;
}

.linkedin a {
	background: url(../img/linkedin.svg) center center no-repeat;
}

.youtube a {
	background: url(../img/youtube.svg) center center no-repeat;
}

@media only screen and (max-width:768px) {
	#logo {
		float: none;
		margin: 0 0 15px 0;
	}
	
	#logo a {
		margin: 0 auto;
		display: block;
	}
	
	#navigation, nav ul, nav ul li {
		float: none;
	}
	
	nav ul li a:before {
		content: "";
	}
	
	nav ul li a {
		padding: 10px 0!important;
		border-bottom: 1px solid #fff;
		display: block;
	}
	
	#intro {
		width: 100%;
		margin: 50px 0 350px 0;
	}
	
	#top {
		background-position: bottom right 27%;
		background-size: 300% auto;
	}
	
	#offer-text {
    	float: left;
    	width: 100%;
	}
	
	#offer {
		background-color: #0e0e18;
    	background-position: bottom left 20%;
		background-size: 220% auto;
		padding: 40px 0 300px 0;
	}	
	
	#testimonials {
    	background-position: bottom right;
		background-size: cover;
    	padding: 30px 20px 20px 20px;
		position: relative;
}		
	
	#testimonials:before {
    	content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.6);
		z-index: 0;
}		
	
	#testimonials h3, #testimonials p {
		position: relative;
		z-index: 1;
}	
	
	footer {
		padding: 30px 0;
	}
	
	footer .one-third {
		margin-bottom: 50px;
	}
}